* {
  margin: 0;
  padding: 0;
}

.rating {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.rating input {
}
.rating label {
  display: block;
  cursor: pointer;
  width: 50px;
  background-color: #ccc;
}

.rating label:before {

}